@page
@model WebApplicationlabb.Pages.Courses.CourseIndexModel

@{
    ViewData["Title"] = "Courses page";
}
<form action="/courses" method="post">
    <input type="number" id="course-number" placeholder="Number">
    <br/>
    <input type="text" id="course-name" placeholder="Name">
    <br/>
    <input type="text" id="course-description" placeholder="Description">
    <br/>
    <input type="text" id="course-length" placeholder="Length">
    <br/>
    <input type="text" id="course-status" placeholder="Status">
    <br/>
</form>
<button class="btn btn-secondary" id="add-course">Add Course</button>

<br/>

<button class="btn btn-primary" id="get-courses">Get Courses</button>

<div class="container">
    <div class="row" id="course-list"></div>
</div>

<div class="modal fade" id="enrollUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enroll for course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="user-id" placeholder="user id">
                    <label for="user-id">Id</label>
                </div>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="enroll-user" class="btn btn-primary">Enroll</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const courseList = document.getElementById("course-list");
        const getAllCourses = document.getElementById("get-courses");
        const addCourse = document.getElementById("add-course");
        const enroll = document.getElementById("enroll");
        const enrollUserSubmit = document.getElementById("enroll-user");
        addCourse.addEventListener('click',
            function(event) {
                event.preventDefault();
                const courseNumber = document.getElementById("course-number").value;
                const courseName = document.getElementById("course-name").value;
                const courseDescription = document.getElementById("course-description").value;
                const courseLength = document.getElementById("course-length").value;
                const courseStatus = document.getElementById("course-status").value;
                const courseInfo = { name: courseName,number:courseNumber,description:courseDescription,length:courseLength };
                postCourse("/Course", courseInfo);
            });
        enrollUserSubmit.addEventListener('click',
            function(event) {
                event.preventDefault();
                const userId = document.getElementById("user-id").value;
                const userInfo = { id: userId};
                enrollUser("{id}", userInfo);
            });
        getAllCourses.addEventListener("click",
            () => {
                showCourses();
            });
        const showCourses = () => {
            fetch("/Course")
                .then(response => response.json())
                .then(data => {
                    for (let i = 0; i < data.length; i++) {
                        let content = `<div class="col-sm-4">
                        <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">${data[i].number}</h5>
                        <h5 class="card-title">${data[i].name}</h5>
                        <h5 class="card-title">${data[i].description}</h5>
                        <h5 class="card-title">${data[i].length}</h5>
                        <h5 class="card-title">${data[i].status}</h5>
                        <button id="enroll" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#enrollUser">Enroll</button>
                        </div>
                        </div>
                        </div>`;
                        document.getElementById("course-list").innerHTML += content;
                    }
                });
        }
        const postCourse = (url = "", data = {} ) => {
            fetch(url,
                    {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(data)
                    })
                .then(response => console.log(response));
        }
        const enrollUser = (url = "", data = {} ) => {
            fetch(url,
                    {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(data)
                    })
                .then(response => console.log(response));
        }
    </script>
}
